# Task #09 作業 02【實作題】購物籃分析實作
請根據給定的資料集，計算出「Frequent Patterns（Apriori）」和「Association Rules」的結果。

❏ Sample Code:

dataset = [
  ['Milk', 'Onion', 'Nutmeg', 'Kidney' 'Beans', 'Eggs', 'Yogurt'],
  ['Dill', 'Onion', 'Nutmeg', 'Kidney' 'Beans', 'Eggs', 'Yogurt'],
  ['Milk', 'Apple', 'Kidney' 'Beans', 'Eggs'],
  ['Milk', 'Unicorn', 'Corn', 'Kidney' 'Beans', 'Yogurt'],
  ['Corn', 'Onion', 'Onion', 'Kidney' 'Beans', 'Ice cream', 'Eggs'],
]

'''
Your Code
'''

In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

from mlxtend.preprocessing import TransactionEncoder

In [2]:
dataset = [
  ['Milk', 'Onion', 'Nutmeg', 'Kidney' 'Beans', 'Eggs', 'Yogurt'],
  ['Dill', 'Onion', 'Nutmeg', 'Kidney' 'Beans', 'Eggs', 'Yogurt'],
  ['Milk', 'Apple', 'Kidney' 'Beans', 'Eggs'],
  ['Milk', 'Unicorn', 'Corn', 'Kidney' 'Beans', 'Yogurt'],
  ['Corn', 'Onion', 'Onion', 'Kidney' 'Beans', 'Ice cream', 'Eggs'],
]
dataset = pd.DataFrame(dataset)
dataset

      0        1            2            3          4       5
0  Milk    Onion       Nutmeg  KidneyBeans       Eggs  Yogurt
1  Dill    Onion       Nutmeg  KidneyBeans       Eggs  Yogurt
2  Milk    Apple  KidneyBeans         Eggs       None    None
3  Milk  Unicorn         Corn  KidneyBeans     Yogurt    None
4  Corn    Onion        Onion  KidneyBeans  Ice cream    Eggs

In [3]:
set(dataset)

{0, 1, 2, 3, 4, 5}

In [4]:
item_set = set()
for i in range(len(dataset)):
    #print(set(dataset[i]))
    #if dataset[i] 
    item_set.update(set(dataset[i]))
print(item_set)
print(len(item_set))

{'Eggs', 'Onion', 'Milk', 'Dill', 'Nutmeg', 'Ice cream', None, 'Apple', 'Unicorn', 'Yogurt', 'Corn', 'KidneyBeans'}
12

In [5]:
item_set = list(item_set)

In [6]:
item_set = [i for i in item_set if i is not None]
item_set

['Eggs',
 'Onion',
 'Milk',
 'Dill',
 'Nutmeg',
 'Ice cream',
 'Apple',
 'Unicorn',
 'Yogurt',
 'Corn',
 'KidneyBeans']

In [7]:
tranform_set = []
for i in range(len(item_set)):
    #print(item_set[i])
    tmp = []
    for j in range(len(dataset)):
        #print(list(dataset.iloc[j]))
        if item_set[i] in list(dataset.iloc[j]):
            tmp.append(1)
        else:
            tmp.append(0)
    tranform_set.append(tmp)
print(tranform_set)

[[1, 1, 1, 0, 1], [1, 1, 0, 0, 1], [1, 0, 1, 1, 0], [0, 1, 0, 0, 0], [1, 1, 0, 0, 0], [0, 0, 0, 0, 1], [0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [1, 1, 0, 1, 0], [0, 0, 0, 1, 1], [1, 1, 1, 1, 1]]

In [8]:
data = pd.DataFrame(tranform_set).T
data

   0   1   2   3   4   5   6   7   8   9   10
0   1   1   1   0   1   0   0   0   1   0   1
1   1   1   0   1   1   0   0   0   1   0   1
2   1   0   1   0   0   0   1   0   0   0   1
3   0   0   1   0   0   0   0   1   1   1   1
4   1   1   0   0   0   1   0   0   0   1   1

In [9]:
data.columns=item_set
data

,Eggs,Onion,Milk,Dill,Nutmeg,Ice cream,Apple,Unicorn,Yogurt,Corn,KidneyBeans
0,1,1,1,0,1,0,0,0,1,0,1
1,1,1,0,1,1,0,0,0,1,0,1
2,1,0,1,0,0,0,1,0,0,0,1
3,0,0,1,0,0,0,0,1,1,1,1
4,1,1,0,0,0,1,0,0,0,1,1

In [10]:
frequent_itemsets = apriori(data, min_support=0.05, use_colnames=True)
frequent_itemsets

/opt/anaconda3/lib/python3.8/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                          itemsets
0        0.8                                            (Eggs)
1        0.6                                           (Onion)
2        0.6                                            (Milk)
3        0.2                                            (Dill)
4        0.4                                          (Nutmeg)
..       ...                                               ...
144      0.2        (Onion, Milk, Nutmeg, Yogurt, KidneyBeans)
145      0.2        (Onion, Dill, Nutmeg, Yogurt, KidneyBeans)
146      0.2        (Milk, Unicorn, Yogurt, Corn, KidneyBeans)
147      0.2  (Eggs, Onion, Milk, Nutmeg, Yogurt, KidneyBeans)
148      0.2  (Eggs, Onion, Dill, Nutmeg, Yogurt, KidneyBeans)

[149 rows x 2 columns]

In [11]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.5)

# 按照信賴度排序並輸出結果
rules.sort_values('confidence', ascending=False, inplace=True)
rules[['antecedents', 'consequents', 'support', 'confidence']]

,antecedents,consequents,support,confidence
0,(Onion),(Eggs),0.6,1.0
587,"(Unicorn, KidneyBeans)","(Milk, Corn)",0.2,1.0
590,"(Milk, Corn, KidneyBeans)",(Yogurt),0.2,1.0
592,"(Corn, Yogurt, KidneyBeans)",(Milk),0.2,1.0
593,"(Milk, Corn, Yogurt)",(KidneyBeans),0.2,1.0
...,...,...,...,...
661,"(Nutmeg, Eggs)","(Onion, Milk, KidneyBeans)",0.2,0.5
660,"(Milk, Eggs)","(Onion, Nutmeg, KidneyBeans)",0.2,0.5
227,(Nutmeg),"(Dill, KidneyBeans)",0.2,0.5
658,"(Onion, Nutmeg, KidneyBeans)","(Milk, Eggs)",0.2,0.5
1032,(Nutmeg),"(Eggs, Onion, Dill, Yogurt, KidneyBeans)",0.2,0.5

In [12]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.250000,0.12,inf,0.500000
587,"(Unicorn, KidneyBeans)","(Milk, Corn)",0.2,0.2,0.2,1.0,5.000000,0.16,inf,1.000000
590,"(Milk, Corn, KidneyBeans)",(Yogurt),0.2,0.6,0.2,1.0,1.666667,0.08,inf,0.500000
592,"(Corn, Yogurt, KidneyBeans)",(Milk),0.2,0.6,0.2,1.0,1.666667,0.08,inf,0.500000
593,"(Milk, Corn, Yogurt)",(KidneyBeans),0.2,1.0,0.2,1.0,1.000000,0.00,inf,0.000000
...,...,...,...,...,...,...,...,...,...,...
661,"(Nutmeg, Eggs)","(Onion, Milk, KidneyBeans)",0.4,0.2,0.2,0.5,2.500000,0.12,1.6,1.000000
660,"(Milk, Eggs)","(Onion, Nutmeg, KidneyBeans)",0.4,0.4,0.2,0.5,1.250000,0.04,1.2,0.333333
227,(Nutmeg),"(Dill, KidneyBeans)",0.4,0.2,0.2,0.5,2.500000,0.12,1.6,1.000000
658,"(Onion, Nutmeg, KidneyBeans)","(Milk, Eggs)",0.4,0.4,0.2,0.5,1.250000,0.04,1.2,0.333333
1032,(Nutmeg),"(Eggs, Onion, Dill, Yogurt, KidneyBeans)",0.4,0.2,0.2,0.5,2.500000,0.12,1.6,1.000000

# 整理後

In [5]:
import pandas as pd
import numpy as np

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

dataset = [
  ['Milk', 'Onion', 'Nutmeg', 'Kidney' 'Beans', 'Eggs', 'Yogurt'],
  ['Dill', 'Onion', 'Nutmeg', 'Kidney' 'Beans', 'Eggs', 'Yogurt'],
  ['Milk', 'Apple', 'Kidney' 'Beans', 'Eggs'],
  ['Milk', 'Unicorn', 'Corn', 'Kidney' 'Beans', 'Yogurt'],
  ['Corn', 'Onion', 'Onion', 'Kidney' 'Beans', 'Ice cream', 'Eggs'],
]

print('dataset:\n',dataset)

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

print('\nafter transform:\n',df)

frequent_itemsets = apriori(df, min_support=0.05, use_colnames=True)
print("\nFrequent Patterns（Apriori）:\n",frequent_itemsets)

rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.5)
rules.sort_values('confidence', ascending=False, inplace=True)
print("\nAssociation Rules:\n",rules[['antecedents', 'consequents', 'support', 'confidence']])

dataset:
 [['Milk', 'Onion', 'Nutmeg', 'KidneyBeans', 'Eggs', 'Yogurt'], ['Dill', 'Onion', 'Nutmeg', 'KidneyBeans', 'Eggs', 'Yogurt'], ['Milk', 'Apple', 'KidneyBeans', 'Eggs'], ['Milk', 'Unicorn', 'Corn', 'KidneyBeans', 'Yogurt'], ['Corn', 'Onion', 'Onion', 'KidneyBeans', 'Ice cream', 'Eggs']]

after transform:
    Apple   Corn   Dill   Eggs  Ice cream  KidneyBeans   Milk  Nutmeg  Onion  \
0  False  False  False   True      False         True   True    True   True
1  False  False   True   True      False         True  False    True   True
2   True  False  False   True      False         True   True   False  False
3  False   True  False  False      False         True   True   False  False
4  False   True  False   True       True         True  False   False   True

   Unicorn  Yogurt
0    False    True
1    False    True
2    False   False
3     True    True
4    False   False

Frequent Patterns（Apriori）:
      support                                          itemsets
0        0.2                                           (Apple)
1        0.4                                            (Corn)
2        0.2                                            (Dill)
3        0.8                                            (Eggs)
4        0.2                                       (Ice cream)
..       ...                                               ...
144      0.4        (Eggs, Onion, KidneyBeans, Nutmeg, Yogurt)
145      0.2               (Eggs, Onion, Milk, Nutmeg, Yogurt)
146      0.2        (Onion, Milk, KidneyBeans, Nutmeg, Yogurt)
147      0.2  (Eggs, Dill, Onion, KidneyBeans, Nutmeg, Yogurt)
148      0.2  (Eggs, Onion, Milk, KidneyBeans, Nutmeg, Yogurt)

[149 rows x 2 columns]

Association Rules:
                         antecedents                               consequents  \
0                           (Apple)                                    (Eggs)
429                          (Dill)             (Yogurt, KidneyBeans, Nutmeg)
770           (Onion, Dill, Nutmeg)                     (Yogurt, KidneyBeans)
423          (Dill, Yogurt, Nutmeg)                             (KidneyBeans)
424             (Dill, KidneyBeans)                          (Yogurt, Nutmeg)
...                             ...                                       ...
400           (Onion, Eggs, Yogurt)                                    (Dill)
404                 (Onion, Yogurt)                              (Eggs, Dill)
406                  (Eggs, Yogurt)                             (Onion, Dill)
778   (Yogurt, KidneyBeans, Nutmeg)                             (Onion, Dill)
1032                       (Nutmeg)  (Eggs, Onion, Milk, KidneyBeans, Yogurt)

      support  confidence
0         0.2         1.0
429       0.2         1.0
770       0.2         1.0
423       0.2         1.0
424       0.2         1.0
...       ...         ...
400       0.2         0.5
404       0.2         0.5
406       0.2         0.5
778       0.2         0.5
1032      0.2         0.5

[1033 rows x 4 columns]