# Task #04 作業 03【實作題】資料串接與資料清理

How to check if a dataframe has any missing values？Check if df has any missing values.

Count the number of missing values in each column and find the maximum number of missing values.
How to replace missing values of `multiple numeric` columns with the mean?
Calculate the average price of different manufacturers.
How to replace missing values of `price` columns with the mean depending on its manufacturers?
❏ Sample Code：

url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'

'''
Your Code
'''

##### Count the number of missing values in each column and find the maximum number of missing values.
##### How to replace missing values of `multiple numeric` columns with the mean?
##### Calculate the average price of different manufacturers.
##### How to replace missing values of `price` columns with the mean depending on its manufacturers?

In [7]:
import numpy as np
import pandas as pd
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
df = pd.read_csv(url)
df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [8]:
##### Count the number of missing values in each column and find the maximum number of missing values.
print('The number of missing values in each column:\n',df.isnull().sum())
print('\nThe maximum number of missing values:',max(df.isnull().sum()))

The number of missing values in each column:
 Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

The maximum number of missing values: 19

In [9]:
##### How to replace missing values of `multiple numeric` columns with the mean?
df2 = df.copy()
df2.fillna(df2.mean(), inplace=True)
print('The number of missing values in each column:\n',df2.isnull().sum())
print('\nThe maximum number of missing values:',max(df2.isnull().sum()))

The number of missing values in each column:
 Manufacturer          4
Model                 1
Type                  3
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               6
DriveTrain            7
Cylinders             5
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       5
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Weight                0
Origin                5
Make                  3
dtype: int64

The maximum number of missing values: 7

C:\Users\User\AppData\Local\Temp\ipykernel_19752\1861285485.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.fillna(df2.mean(), inplace=True)

In [10]:
##### Calculate the average price of different manufacturers.
print(df.groupby('Manufacturer')['Price'].mean())

Manufacturer
Acura            15.900000
Audi             33.400000
BMW              30.000000
Buick            21.625000
Cadillac         37.400000
Chevrolet        18.187500
Chrysler         22.650000
Dodge            15.700000
Eagle            15.750000
Ford             14.962500
Geo              10.450000
Honda            16.466667
Hyundai          10.475000
Infiniti         47.900000
Lexus            28.000000
Lincoln          35.200000
Mazda            17.600000
Mercedes-Benz    46.900000
Mercury          14.500000
Mitsubishi       18.200000
Nissan           17.025000
Oldsmobile       17.500000
Plymouth         14.400000
Pontiac          16.140000
Saab             28.700000
Saturn                 NaN
Subaru           12.933333
Suzuki            8.600000
Toyota           16.966667
Volkswagen       18.025000
Volvo            22.700000
Name: Price, dtype: float64

In [13]:
##### How to replace missing values of `price` columns with the mean depending on its manufacturers?
df3 = df.copy()
df3['Price'] = df3.groupby('Manufacturer')['Price'].transform(lambda x: x.fillna(x.mean()))

In [14]:
print('The number of missing values in each column:\n',df3.isnull().sum())
print('\nThe maximum number of missing values:',max(df3.isnull().sum()))

The number of missing values in each column:
 Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  5
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

The maximum number of missing values: 19

In [25]:
df.loc[:,['Manufacturer','Price']],df.Price.isnull().sum()

(   Manufacturer  Price
 0         Acura   15.9
 1           NaN    NaN
 2          Audi   29.1
 3          Audi   37.7
 4           BMW   30.0
 ..          ...    ...
 88   Volkswagen   19.7
 89   Volkswagen   20.0
 90   Volkswagen   23.3
 91        Volvo   22.7
 92          NaN    NaN

 [93 rows x 2 columns],
 4)

In [26]:
df3.loc[:,['Manufacturer','Price']],df3.Price.isnull().sum()

(   Manufacturer  Price
 0         Acura   15.9
 1           NaN    NaN
 2          Audi   29.1
 3          Audi   37.7
 4           BMW   30.0
 ..          ...    ...
 88   Volkswagen   19.7
 89   Volkswagen   20.0
 90   Volkswagen   23.3
 91        Volvo   22.7
 92          NaN    NaN

 [93 rows x 2 columns],
 5)

In [33]:
for i in range(len(df['Price'])):
    if df.loc[i,'Price']!=df.loc[i,'Price']:
        print(df.loc[i,['Manufacturer','Price']])

Manufacturer    NaN
Price           NaN
Name: 1, dtype: object
Manufacturer    NaN
Price           NaN
Name: 19, dtype: object
Manufacturer    NaN
Price           NaN
Name: 49, dtype: object
Manufacturer    NaN
Price           NaN
Name: 92, dtype: object

In [34]:
for i in range(len(df3['Price'])):
    if df3.loc[i,'Price']!=df3.loc[i,'Price']:
        print(df3.loc[i,['Manufacturer','Price']])

Manufacturer    NaN
Price           NaN
Name: 1, dtype: object
Manufacturer    NaN
Price           NaN
Name: 19, dtype: object
Manufacturer    NaN
Price           NaN
Name: 49, dtype: object
Manufacturer    Saturn
Price              NaN
Name: 78, dtype: object
Manufacturer    NaN
Price           NaN
Name: 92, dtype: object

In [37]:
df[df['Manufacturer']=='Saturn']['Price'].mean()

19.61648351648352

In [77]:
dfmean = pd.DataFrame(df.groupby('Manufacturer')['Price'].mean())
dfmean[:]#.columns = ['Manufacturer','Price']

                   Price
Manufacturer
Acura          15.900000
Audi           33.400000
BMW            30.000000
Buick          21.625000
Cadillac       37.400000
Chevrolet      18.187500
Chrysler       22.650000
Dodge          15.700000
Eagle          15.750000
Ford           14.962500
Geo            10.450000
Honda          16.466667
Hyundai        10.475000
Infiniti       47.900000
Lexus          28.000000
Lincoln        35.200000
Mazda          17.600000
Mercedes-Benz  46.900000
Mercury        14.500000
Mitsubishi     18.200000
Nissan         17.025000
Oldsmobile     17.500000
Plymouth       14.400000
Pontiac        16.140000
Saab           28.700000
Saturn         19.616484
Subaru         12.933333
Suzuki          8.600000
Toyota         17.629121
Volkswagen     18.025000
Volvo          22.700000

In [79]:
dfmean.loc["Saturn", "Price"]

19.61648351648352

In [91]:
df4 = df.copy()
df4

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.900000,15.9,18.800000,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.000000,37.0,26.5,13.986486,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.200000,NaN,38.700000,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.000000,38.0,30.0,15.000000,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.900000,29.1,32.300000,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.000000,37.0,28.0,14.000000,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,17.118605,37.7,44.600000,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,69.448276,37.0,31.0,17.000000,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,17.118605,30.0,21.459091,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.000000,39.0,27.0,13.000000,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.600000,19.7,22.700000,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.000000,38.0,34.0,13.986486,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.600000,20.0,22.400000,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.000000,35.0,31.5,14.000000,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.900000,23.3,23.700000,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.000000,36.0,26.0,15.000000,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.800000,22.7,23.500000,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.000000,37.0,29.5,14.000000,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.800000,NaN,28.500000,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.000000,38.0,30.0,15.000000,3245.0,non-USA,Volvo 850

In [103]:
for i in range(len(df4['Price'])):
    if df4['Price'][i] != df4['Price'][i]:
        print(df4['Price'][i])
        print(df4['Manufacturer'][i])

nan
nan
nan
nan
nan
nan
nan
nan